* {
    margin: 0;
    padding: 0;
    border: 1px solid red;
}

div {
    border: 1px solid red;
}

nav {
    display: flex;
    align-items: center;
    border: 1px solid red;
    width: fit-content;
    
}