* {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

/* div {
    border: 1px solid red;
} */
header{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    position: fixed;
}

nav {
    display: flex;
    width: 80%;
    background-color: transparent;
}

nav>div{
    margin-left: 1vw;
    margin-right: 1vw;
    display: flex;
    align-items: center;
}
.home{
    border-bottom: 2px solid #b41818;
}
.bg-transparent{
    background-color: transparent;
}
.flex{
    display: flex;
}
.items-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
#addoptions>button{
    border: 1px solid gray;
    background-color: #b41818;
    color: white;
}