*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,body{
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-image: url("./Asests/login-background.webp");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* div{
    border: 1px solid red; 
} */
.container{
    min-height: 548px;
    height: 73vh;
    min-width: 700px;
    width: 40vw;
    /* width: fit-content;  */
    /* width: 49%; */
    margin:0 auto 0 auto;
    border-radius: 3px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: start; 
    padding-top:1vh ; 
    overflow: hidden;
}
.head{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:25%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.head img{
    width: 28%;
}
.head p{
    margin-top: -1vh;
    font-size: 0.95rem;
    font-weight: 700;
    color: #636466;
}
.main{
    display: flex;
    width: 100%;
    height: 60%;
    padding-top: 3.5vh;
    padding-bottom: 3.5vh;
}
.left{
    height: 100%;
    width: 50%;
    border-right: 1px solid #dee0e1;
    padding:0.5vw 1.5vw ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:1.7vw;
}
.left p{
    color:#929598;
    font-size: 0.875rem;
}
.left a{
    text-decoration: none;
    color: #195FAA;
    font-size: 0.875rem;
}
.left a:hover{
    text-decoration: underline;
}
.buttons{
    display: flex;
    flex-direction: column;
    gap:0.5vw;
}
.btn{
    display: flex;
    border: 1px solid #dee0e1;
    border-radius: 3px;
    width: 100%;   
}
.btn:hover,button{
    background-color: rgb(245,245,245);
    cursor: pointer;
}
button{
    background-color: transparent;
    border:none;
    padding: 0.8rem 0;
    font-size: 0.9rem;
}
/* .button1,.button2{ */
    /* font-size: 1rem;
    text-align: start;
    height: 6vh; */
/* } */
/* .button1:hover,.button2:hover{
    background-color: #F5F5F5;
} */
.image{
    height:100%;
    width: 14%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}
.image img{
    height: 50%;
    width: 50%;
}
.sign-up{
    padding:7px;
    width: 100%;
    text-align: center;
    border-radius: 30px; 
}
.sign-up:hover{
    background-color: rgb(245,245,245);
    cursor: pointer;
}
#sign-up{
    color: #636466;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 600;
}
.right{
    /* background-color: red; */
    height: 100%;
    width: 50%;
    padding:0 1.5vw ;
}
.login{
    border-bottom: 1px solid #dee0e1;
    padding-bottom: 1.5vh;
    margin-bottom: 2vh;
}
.login span{
    font-weight: 500;
}
input{
    padding: 10px 8px;
    border: 1px solid #dee0e1;
    border-radius: 3px; 
    width: 100%; 
    margin:1vh 0 2.3vh;
}
input::placeholder{
    font-size: 1rem;
    color: #929598;
    font-weight: lighter;
}
input:hover{
    border:solid #195FAA;
}
label{
    font-weight: 700;
    font-size: 0.8rem;
}
.forgot-pswd{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.forgot-pswd a{
    color: #929598;
    font-size: 0.875rem;
    text-decoration: none;
}
.forgot-pswd a:hover{
    text-decoration: underline;
}
.forgot-pswd button{
    background-color: #99B4FF;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 600;
    padding:0.8rem 1.5rem;
    border-radius: 30px;
}
.forgot-pswd button:hover{
    background-color: #658df9;
}
.lang{
    width: 100%;
    border-top: 1px solid #dee0e1;
    border-bottom: 1px solid #dee0e1;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.5rem;
    font-size: 0.8rem;
    padding: 1rem;
}
.lang ul{
    display: flex;
    list-style: none;
    gap: 0.25rem;
}
.lang ul a{
    text-decoration: none;
    color: #195FAA;
    font-size: 0.8rem;
}
.footer{
    width: 100%;
    background-color: #edf0f2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    padding: 1rem;
}
.footer ul{
    display: flex;
    gap: 0.25rem;
    list-style: none;
    color: #636466;
}
.footer ul a{
    text-decoration: none;
    color: #636466;
}
.footer ul a:hover{
    text-decoration: underline;
}
.top-image{
    display: none;
}
.mobile-main{
    display: none;
}
@media (max-width:700px) {
    body{
        background-image: url("./Asests/mobile_login_bg.webp");
        background-repeat: repeat;
        background-size: 100px;
    }
    .container{
        display: none;
    }
    .top-image{
        display: block;
        background-image: url('./Asests/mobile_login_top.webp');
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        height: 55vh;
        position: absolute;
        top: -13%;
    }
    .mobile-main{
        display: flex;
        flex-direction: column;
        width: 80vw;
        height: 60vh;
        /* background-color: red; */
        position: relative;
        padding:0 3vw;
    }
    .head{
        border-bottom: 0.5px solid #fff;
        padding-bottom:10vh;
        /* background-color: red; */
        margin-top: 10%;
    }
    .head img{
        width: 35.5%;
        margin-bottom: 2.5%;
    }
    .head p{
        color: #fff;
    }
    .login-ways p{
        margin-top: 2%;
        color: #fff;
        font-size: 0.82rem;
    }
    .login-ways a{
        text-decoration: none;
        color: #195FAA;
        font-size: 0.82rem;
    }
    .buttons{
        margin-top: 3%;
    }
    .btn{
        background-color: #fff;
        margin-top: 1%;
        font-size: 0.85rem;
        display: flex;
        align-items: center;
    }
    .image{
        height: 10%;
        width: 8%;
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-color: red; */
    }
    .image img{
        width: 50%;
        height: 50%;
    }
    .login-btn{
        width: 100%;
        display: flex;
        justify-content: space-between;
        /* background-color: red; */
        padding:2.5vh 0;
        border-bottom: 0.5px solid #fff;
    }
    .login-btn button{
        color: #fff;
        background-color: #ACB9BD;
        text-align: center;
        padding: 1vh 0;
        width: 48%;
        border-radius: 30px;
    }
    .about-flex{
        display: flex;
        /* background-color: red; */
        width: 100%;
    }
    .about-flex ul{
        list-style: none;
        color: #fff;
        display: flex;
        gap:0.7vw;
        padding: 1vh 0;
        font-size: 0.82rem;
        text-align: center;
    }
    .about-flex ul a{
        color: #fff;
    }
    .about-flex ul a:hover{
        text-decoration: underline;
    }
}